<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-Viewer</title>
    <link rel="stylesheet" type="text/css" href="/css/pdf-viewer.css">
</head>
<body>
    <div id="outline-toggle" class="outline-toggle" onclick="outlineToggle()">
        <img id="outline-toggle-icon" class="outline-toggle-icon" src="/media/icons/hamburgerMenu.svg" alt="Hamburger menu">
        </div>
    <div id="outline" class="outline"></div>
    <div id="content" class="content"></div>
</body>
<footer>
    <script src="/js/libs/pdf.min.js"></script>
    <script src="/js/pdf/pdf-rendere.js"></script>
    <script src="/js/pdf/helper-functions.js"></script>
    <script src="/js/main.js"></script>
    {{#if config}}
        <script>
            const cfg = {
                page: config.page,
            }
            init(config.link, document.getElementById("content"))
        </script>
    {{else}}
        <script>
            cfg = {
                page:1
            }
            init("/media/sample.pdf", document.getElementById("content"))
        </script>
    {{/if}}
</footer>

</html>